.sidenav-container {
  height: 100%;
}

.logo {
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

.mat-drawer-side {
  border: none;
  box-shadow: none;
}

.sidenav {
  display: flex;
  width: 200px;
  font-family: sofia-pro;
}

.sidenav .mat-toolbar {
  background: inherit;
 
}

.mat-toolbar.mat-primary {
  position: flex;
  top: 0;
  z-index:1;
   
}

.vublogo{
    transform: scale(70%) ;
     width:120px;
    height:60px;
    outline: none;
}

.socials{
     display: flex;
     transform: translate(0px,4px);
}

.fill-space {
 margin: auto;
}


i {
  font-style: normal;
  font-size: 1.25em;
  margin-right: 16px;
}

.avatar {
  width: 1.75em;
  border-radius: 50%;
  margin: 0 10px 5px;
}