<div class="container1">
    <h2 class="head">About us</h2>
    <div class="box1">



        VUB Racing is a team of students with mixed qualities. We have students specialised in electonics,
        suspension,
        mechanics
        and aerodynamics. Most of the students in the team write a master thesis about their system or job at the
        team.
        <img src="assets\images\Throphy.jpg" alt="Thropy" class="image">


    </div>

    <button mat-flat-button class="button" color="accent">Read more</button>




</div>